{% extends 'team_member/base.html' %}
{% block content %}
{% load static %}

<h4>Add Team member</h4>
<h5 class="text-muted">Set email, location and role.</h5>
<hr>
<form method="post" action="">
    {% csrf_token %}
    <h3>Info</h3>
    <div class="mb-3">
        <p>{{ form.first_name }}</p>
        <p>{{ form.last_name }}</p>
        <p>{{ form.email }}</p>
        <p>{{ form.phone_number }}</p>
    </div>
    <h3>Role</h3>
    <p>{{ form.status}}</p>
    <input type="submit" class="btn btn-primary float-end" value="Save">
</form>
{% endblock %}