{% extends 'team_member/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'team_member/style.css' %}">

<h4>Edit team member</h4>
<h5 class="text-muted">Edit contract info, location and role.</h5>
<hr>

<form action="" method="post">
    {% csrf_token %}
    <h3>Info</h3>
    <div class="mb-3">
        <p>{{ form.first_name }}</p>
        <p>{{ form.last_name }}</p>
        <p>{{ form.email }}</p>
        <p>{{ form.phone_number }}</p>
    </div>
    <h3>Role</h3>
    <p>{{ form.status}}</p>
    <input type="submit" class="btn btn-primary float-end" value="Save">
</form>

<form action="{% url 'team_member:delete' member_id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-danger" value="Delete">
</form>
{% endblock %}
